@use "./_variables.scss" as vars;

@mixin button-styles() {
  border-radius: 50px;
  padding: 5px 15px;
  cursor: pointer;
  outline: none;
  background: vars.$buttonBg;
  color: vars.$textColor;

  @media (min-width: vars.$breakpointTablet) {
    margin: 0 10px;
  }

  &:hover {
    background-color: vars.$buttonHover;
  }

  &:active {
    box-shadow: 0 5px #666;
    transform: vars.$buttonTransform;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
