@use "./_variables.scss" as vars;
@use "./_mixins.scss" as mixins;

.pagination-controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  &__previous-button,
  &__next-button {
    @include mixins.button-styles();
  }

  &__previous-button {
    @media (max-width: vars.$breakpointTablet) {
      margin-right: 5px;
    }
  }

  &__next-button {
    @media (max-width: vars.$breakpointTablet) {
      margin-left: 5px;
    }
  }
}
