@use "./_variables.scss";
.pagination-controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
