@use "./_variables.scss" as vars;
@use "./_mixins.scss" as mixins;

.photo-container {
  &__header {
    padding: 0 20px;
  }
}

.my-masonry-grid {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (max-width: vars.$breakpointTablet) {
    margin-left: unset;
  }

  @media (min-width: vars.$breakpointMobile) {
    flex-direction: row;
  }

  .my-masonry-grid_column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-clip: padding-box;

    .photo-wrapper {
      &__photo-credit,
      &__photo-description,
      &__photo-img {
        max-width: 100%;
        height: auto;
        border-radius: 15px;

        @media (min-width: vars.$breakpointTablet) {
          width: 240px;
        }
      }

      &__photo-credit {
        &__username {
          font-size: 1.2em;
          font-weight: bold;
          text-decoration: underline;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &__photo-description {
        font-style: italic;
      }
    }
  }
}
