@use "./_variables.scss" as vars;
@use "./_mixins.scss" as mixins;

.search {
  height: 100px;
  padding: 20px 0 0 10px;

  &__search-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    @media (min-width: vars.$breakpointTablet) {
      flex-direction: row;
    }

    &__search-input {
      padding: 10px;
      border-radius: 20px;
      border: none;
      background: white;
      color: black;
      font-size: 1.2em;
      min-width: 250px;
      &:focus {
        outline: none;
      }
    }

    &__button-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      &__search-button,
      &__random-button {
        @include mixins.button-styles();
      }
    }
  }
}
