@use "./_variables.scss" as vars;

.search {
  height: 100px;
  padding: 20px 0 0 10px;

  &__input-and-button-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    @media (min-width: vars.$breakpoint-tablet) {
      flex-direction: row;
    }
    &__search-input {
      padding: 10px;
      border-radius: 20px;
      border: none;
      background: white;
      color: black;
      font-size: 1.2em;
      min-width: 250px;
      &:focus {
        outline: none;
      }
    }

    &__search-button {
      margin-top: 10px;
      border: 0px;
      font-size: 20px;
      border-radius: 50px;
      padding: 10px 20px;
      width: 100px;
      cursor: pointer;
      outline: none;
      background: vars.$buttonBg;
      color: vars.$textColor;

      @media (min-width: vars.$breakpoint-tablet) {
        margin-top: 0;
        margin-left: 10px;
      }

      &__hover {
        background-color: vars.$buttonHover;
      }
      &__active {
        box-shadow: 0 5px #666;
        transform: vars.$buttonTransform;
      }
    }
  }
}
