@use "./_variables.scss" as vars;
@use "./_mixins.scss" as mixins;

.search-container {
  padding: 10px 20px 0 10px;

  &__search-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    @media (min-width: vars.$breakpointTablet) {
      flex-direction: row;
    }

    &__input-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      &__search-input {
        border-radius: 20px;
        border: none;
        background: white;
        color: black;
        font-size: 1.2em;
        padding: 0 30px 0 10px;
        &:focus {
          outline: none;
        }
      }

      &__clear-button {
        position: absolute;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #888;

        @media (max-width: vars.$breakpointTablet) {
          right: unset;
          left: 190px;
        }
      }
    }

    &__button-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      @media (max-width: vars.$breakpointTablet) {
        justify-content: flex-start;
      }

      &__search-button,
      &__random-button {
        margin-top: 10px;
        @include mixins.button-styles();
      }
    }
  }

  &__warning {
    color: white;
    margin-top: 5px;
  }
}
